/* CREATOR CARD */
.creator-card {
  background: var(--porcelain);
  border-radius: var(--radius-lg);
  overflow: hidden;
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 400px;
  flex-shrink: 0;
}

.creator-card:hover {
  transform: translateY(-4px);
  border-color: var(--mocha);

}

.card-image {
  width: 100%;
  height: 240px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.creator-card:hover .card-image img {
  transform: scale(1.05);
}

.card-content {
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  flex: 1;
}

.card-content h3 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-semibold);
  color: var(--mocha);
  letter-spacing: -0.01em;
  line-height: 1.3;
}

.card-content p {
  flex: 1;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
  letter-spacing: 0.02em;
  margin-top: var(--spacing-sm);
  font-family: var(--font-family-alt);
  font-weight: var(--font-weight-normal);
}
.card-actions {
  margin-top: var(--spacing-md);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-sm);
}

.card-socials{
    display: flex;
    gap: var(--spacing-sm);
    margin-right: auto;
    padding: 0.5rem;
}
.btn-view-more, .btn-edit-more {
  color: var(--mocha);
  font-size: 1.25rem;
}

.btn-view-more:hover, .btn-edit-more:hover {
  color: var(--text-color);
  border-color: var(--mocha);
  transform: scale(1.15);
}

.card-actions .btn-edit-more {
  margin-left: auto;
}

